<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact and Connect | MailNews</title>
    <link rel="shortcut icon" href="./MailNews.png" type="image/png" />
    <link href="style.css" rel="stylesheet" />
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoog5le.js?client=ca-pub-2238125462513134"
      crossorigin="anonymous"
    ></script>
  </head>

  <body
    class="text-lg bg-slate-950 flex w-screen h-screen scroll-smooth relative text-white p-5"
  >
    <div
      class="bg-purple-700 -z-10 blur-3xl w-56 h-56 fixed -bottom-14 opacity-60 md:opacity-85 rounded-full -right-14 md:-right-2 md:-bottom-2"
    ></div>
    <div
      class="bg-fuchsia-800 -z-10 blur-3xl w-56 h-56 fixed -top-14 opacity-60 md:opacity-85 rounded-full -left-14 md:-left-7 md:-top-2"
    ></div>


    <div class="mt-12 w-full">
      <h1 class="text-3xl font-bold">Connect With Me</h1>
      <div class="grid grid-cols-5 w-full gap-4 mt-5 mb-10">
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-20 h-20 fill-green-600"
            viewBox="0 0 50 50"
          >
            <path
              d="M 16 3 C 8.83 3 3 8.83 3 16 L 3 34 C 3 41.17 8.83 47 16 47 L 34 47 C 41.17 47 47 41.17 47 34 L 47 16 C 47 8.83 41.17 3 34 3 L 16 3 z M 37 11 C 38.1 11 39 11.9 39 13 C 39 14.1 38.1 15 37 15 C 35.9 15 35 14.1 35 13 C 35 11.9 35.9 11 37 11 z M 25 14 C 31.07 14 36 18.93 36 25 C 36 31.07 31.07 36 25 36 C 18.93 36 14 31.07 14 25 C 14 18.93 18.93 14 25 14 z M 25 16 C 20.04 16 16 20.04 16 25 C 16 29.96 20.04 34 25 34 C 29.96 34 34 29.96 34 25 C 34 20.04 29.96 16 25 16 z"
            ></path>
          </svg>
        </div>
        <div class="w-full">Insta</div>
        <div class="w-full">Insta</div>
        <div class="w-full">Insta</div>
        <div class="w-full">Insta</div>
      </div>

      <div>
        <h1 class="text-3xl mt-5 font-bold">General Feedback</h1>
        <form
          action=""
          method="post"
          class="grid grid-flow-row grid-cols-1 md:grid-cols-2 gap-5 my-5"
        >
          <input
            type="text"
            required
            name="name"
            class="border-slate-800 border-2 border-solid rounded-lg w-full p-2 col-span-2 md:col-span-1 outline-none bg-slate-800 focus:bg-slate-700 duration-200 text-white font-semibold"
            placeholder="Name"
            onblur=""
          />
          <input
            type="email"
            required
            name="email"
            class="border-slate-800 border-2 border-solid rounded-lg w-full p-2 col-span-2 md:col-span-1 outline-none bg-slate-800 focus:bg-slate-700 duration-200 text-white font-semibold"
            placeholder="Your Email"
            onblur=""
          />
          <textarea
            name="message"
            id=""
            class="border-slate-800 border-2 border-solid rounded-lg w-full p-2 outline-none lg:p-2 mb- bg-slate-800 focus:bg-slate-700 duration-200 text-white font-semibold col-span-2"
            placeholder="Your Message"
          ></textarea>
        </form>
      </div>

      <div>
        <h1 class="text-3xl mt-8 font-bold">User Query/Issue</h1>
        <% if(!isLoggedIn) { %>
        <h3 class="text-xl my-4">You Need To Login To Post Your Query/Issue</h3>
        <% } else { %>
        <form
          action="javascript:submitQuery()"
          method="post"
          class="grid grid-flow-row grid-cols-2 gap-5 my-5"
          name="queryForm"
        >
          <textarea
            name="message"
            id=""
            class="border-slate-800 border-2 border-solid rounded-lg w-full p-2 outline-none lg:p-2 bg-slate-800 focus:bg-slate-700 duration-200 text-white font-semibold col-span-2"
            placeholder="Your Message"
          ></textarea>
          <button
            type="submit"
            class="!bg-slate-700 text-white rounded-full px-9 py-2 lg:px-4 lg:py-2 -mt-2 font-semibold text-lg disabled:opacity-75"
          >
            Submit
          </button>
        </form>
        <% } %>
      </div>
    </div>
  </body>

  <script>
    function submitQuery() {
      fetch("/addQuery", {
        method: "POST",
        body: new URLSearchParams({
          date: (new Date().toISOString().split('T')[0]),
          message: document.forms["queryForm"].message.value,
        }),
        headers: {
          "Content-Type": "application/x-www-form-urlencoded",
        },
      }).then(async (res) => {
        if (res.status == 200) { 
          document.querySelector(
            'form[name="queryForm"]'
          ).innerHTML = `<h3 class="text-xl my-4 capitalize col-span-2 text-center"> Your Query/Issue has been registered with ID : <span class="font-bold block"> ${await res.json()} </span> You Can also Find all Raised Issues/Queries in your  <a class="text-fuchsia-500 block mt-2 font-bold" href="/signin">Account Dashboard</a></h3>`;
        }
      });
    }
  </script>
</html>
